# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.venv

# Environment variables
.env
*.env

# Database files
db.sqlite3
*.sqlite3

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Logs
logs/
*.log
nohup.out

# Static and media files
staticfiles/
media/

# Django cache
**/__pycache__/
**/.pytest_cache/
**/.tox/
**/.coverage
.coverage.*

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Compiled C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pycharm files
*.iml
